<footer class="footer">
		<div class="container-fluid">
			<div class="row text-muted">
				<div class="col-6 text-left">
					<p class="mb-0">
						<a href="{{ path('app_home_page') }}" class="text-muted">
							<strong>{{ render('app_cpmpany_name') }}</strong>
						</a>
						©
					</p>
				</div>
				<div class="col-6 text-right">
					<ul class="list-inline">
						{# <li class="list-inline-item">
							<a class="text-muted" href="#">Support</a>
						</li>
						<li class="list-inline-item">
							<a class="text-muted" href="#">Help Center</a>
						</li> #}
						<li class="list-inline-item">
							<a class="text-muted terms-dialog" href="{{path('terms-and-conditions',{type:'Privacy'})}}">Política de privacidad</a>
						</li>
						<li class="list-inline-item">
							<a class="text-muted terms-dialog" href="{{path('terms-and-conditions',{type:'terms'})}}">Términos</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
