{% block _unitType_activities_entry_row %}
	<div class="card mb-3 col-md-12">
		<div class="card-header">
			<h5 style="display: inline">Actividad</h5>
			<a href="#" style="float:right;" class="btn btn-danger cortex-collection-icon unitType_activities-collection-remove unitType_activities-collection-action">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="card-body">
			<div class="row">
				{{ block('form_row') }}
			</div>
		</div>
	</div>
{% endblock %}


{% block _unitType_activities_entry_widget %}
    <div class="row">
		<div class="col-md-4">{{ form_row(form.name) }}</div>
		<div class="col-md-4">{{ form_row(form.page) }}</div>
		<div class="col-md-4">{{ form_row(form.url) }}</div>
    </div>
{% endblock %}
