{% extends 'layout.html.twig' %}

{% block title %}Invitaciones{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 style="width: 50%; float:left">Mis invitaciones</h3>
            <a href="#" id="add-code" class="btn btn-primary float-right"> <i class="fa fa-check-double"></i> Activar Código</a>
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Código</th>
                        <th>Fecha de aceptación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index in invitations %}
                    <tr>
                        <td>{{index.userGroup.groupName}}</td>
                        <td>{{index.userGroup.uuid}}</td>
                        <td>{{index.createdAt|date("m/d/Y")}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(() => {
            $('#add-code').on('click', function(event){
                event.preventDefault();
                app.dialogs.create({
                    url:Routing.generate('add-new-code')
                });
            });
        })
    </script>
{% endblock %}
