{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Level{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h1>Nuevo tipo de curso</h1>
        </div>
        <div class="card-body">
            {{ include('level/_form.html.twig') }}
            <br>
            <a href="{{ path('level_index') }}" class="btn " style="background-color: {{ colors()['secondary'] }}; color:white;"> <i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
{% endblock %}
