{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Nueva categoría</h1>

    {{ include('category/_form.html.twig') }}
</br>
    <a href="{{ path('category_index') }}" class="btn btn-secondary"> <i class="fa fa-arrow-left"></i> Regresar</a>
{% endblock %}
