{% extends 'layout.html.twig' %}

{% block title %}GlobalLink index{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="row">
          {% for row in links %}
            <div class="col-md-2">
              <figure class="text-center">
                <img src="{{vich_uploader_asset(row.imagen, 'imagenFile')}}" class="img-fluid img img-bordered img-responsive">
                <figcaption><a href="{{row.url}}" target="_blank">{{row.name | upper}}</a><figcaption>
            </figure>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
    
{% endblock %}
