{% extends 'layout.html.twig' %}

{% block title %}GlobalLink index{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        {{sg_datatables_render_html(datatable)}}
    </div>
  </div>

    {# <a href="{{ path('global_link_new') }}">Create new</a> #}
{% endblock %}

{% block javascripts %}
    {{sg_datatables_render_js(datatable)}}
{% endblock %}
