{% extends 'layout.html.twig' %}

{% block body %}
	<h1>Mis códigos </h1>
	<div class="row">
		{% for code in codes %}
			<div class="col-md-3">
				<div class="card {% if code.endDate|date('d/m/Y') >= 'now'|date('d/m/Y') %} bg-success {% else %} bg-warning-dark {% endif %}">
					<div class="card-header" style="color:black">
						{{ code.book.title|upper }}
					</div>
					<div class="card-body">
						<input readonly class="form-control text-center" value="{{ code.code |upper}}" >
						<hr>
						<p class="text-white"><i class="fa fa-calendar-check"></i> <strong>Fecha fin:</strong> {{ code.endDate|date('d/m/Y') }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
		$(document).ready(function () {

        })
	</script>
{% endblock %}
