{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Edit Canton{% endblock %}

{% block body %}
    <h1>Edit Canton</h1>

    {{ include('canton/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <br>
    <a href="{{ path('canton_index') }}" class="btn " style="background-color: {{ colors()['secondary'] }}; color:white;"> <i class="fa fa-arrow-left"></i> Regresar</a>
    <br>
    {{ include('canton/_delete_form.html.twig') }}
{% endblock %}
