{% extends 'layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}Book index
{% endblock %}

{% block body %}
	{% set path = path('book_new') %}

	{{ card_macro.card_default('Listado de cursos <a href="'~path~'" class="btn btn-primary pull-right">
				<i class="fa fa-plus"></i>
				Adicionar</a>',sg_datatables_render_html(datatable),'') }}
{% endblock %}

{% block javascripts %}
	{{sg_datatables_render_js(datatable)}}
{% endblock %}
