{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Nuevo texto</h1>

    {{ include('book/_form.html.twig') }}
    <br />
    <a href="{{ path('book_index') }}" class="btn btn-secondary"> <i class="fa fa-arrow-left"></i> Regresar</a>
{% endblock %}

{% block javascripts %}
   {{ encore_entry_script_tags('book.form') }}
{% endblock %}
