{% for a in all %}

<div class="row">
	<div class="col-md-1">
		<a href="#" class="text-danger"> <i class="fa fa-times-circle"></i></a>
	</div>
	<div class="col-md-11">{{a.name}}</div>
</div>

{% endfor %}