<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">{{activity.name}}</div>
					<div id="preview" class="card-body border border-primary text-center" style="height:280px!important">
						{% if activity.type == 'Video' %}
							<video style='width:100%; height:100%' src="{{ vich_uploader_asset(activity.file, 'imagenFile')}}">
							{% endif %}
							{% if activity.type == 'Audio' %}
								<audio style='width:100%; height:100%' src="{{ vich_uploader_asset(activity.file, 'imagenFile')}}">
								{% endif %}
								{% if activity.type == 'Genially' %}
									<iframe style='width:100%; height:100%' src="{{ activity.url }}"></iframe>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


