<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        {{ sg_datatables_render_html(datatable) }}
        {{sg_datatables_render_js(datatable)}}
    </div>
</div>
<script type="text/javascript">
    $(document).on('click', '.action-evaluate', function (event) {

        event.preventDefault();

        const scope = $(this);

       app.dialogs.create({
           url: scope.attr('href')+'?uniq={{datatable.uniqueName}}'
       })

    });
</script>