{% block _ChoiceForm_choice_entry_row %}
    <div class="row mt-1 py-3">
        <div class="col-md-1 text-center pt-4">
            <h3 class="choice-counter"></h3>
        </div>
        <div class="col-md-5">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-2 mt-4">{{ form_row(form.isCorrect) }}</div>
        <div class="col-md-2">{{ form_row(form.value) }}</div>
        <div class="col-md-2 mt-3">
            <a href="#"
               class="btn btn-danger mt-1 cortex-collection-icon ChoiceForm_choices-collection-remove ChoiceForm_choices-collection-action">
                <i class="fa fa-times-circle"></i>
            </a>
        </div>
    </div>
{% endblock %}
{% block _ChoiceForm_singleQuestion_entry_row %}
    <div class="row">
        <div class="col-md-1 pt-5">
            <h3 class="single-counter"></h3>
        </div>
        <div class="col-md-10">
            {{ form_row(form.text) }}
        </div>
        <div class="col-md-1 pt-5">
            <a href="#"
               class="btn btn-danger mt-1 cortex-collection-icon ChoiceForm_singleQuestions-collection-remove ChoiceForm_singleQuestions-collection-action">
                <i class="fa fa-times-circle"></i>
            </a>
        </div>
    </div>
{% endblock %}
