{% extends 'layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}Role index{% endblock %}


{% block body %}
	{% set path = path('role_new') %}

	{{ card_macro.card_default('Listado de roles',sg_datatables_render_html(datatable),'<a href="'~path~'" class="btn btn-primary">
				<i class="fa fa-plus"></i>
				Adicionar</a>') }}
{% endblock %}

{% block javascripts %}
	{{sg_datatables_render_js(datatable)}}
{% endblock %}