{% extends 'layout.html.twig' %}

{% block title %}Hello UserGroupController!{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        {{sg_datatables_render_html(datatable)}}
    </div>
</div
{% endblock %}

{% block javascripts %}
    {{sg_datatables_render_js(datatable)}}
    <script>
        $('#sg-datatables-{{ datatable.uniqueName }}').on('click', '.action-change', function (event) {

            event.preventDefault();

            const scope = $(this)
            app.dialogs.confirm({
                onAccept:function(){
                    $.ajax({
                        url: scope.attr('href'),
                        type:'post',
                        success:function(data){
                            $('#sg-datatables-{{ datatable.uniqueName }}').DataTable().ajax.reload(null,false);
                        }
                    })
                }
            })

            
        });
        $(document).on('click', '.show-details', function (event) {

            event.preventDefault();

            const scope = $(this);

            app.datatable.handleDetails(scope, {
                path: scope.attr('data-path')
            });
        });
        $(document).on('click', '.sendMail, .action-copy', function (event) {

            event.preventDefault();

            const scope = $(this);

            app.dialogs.create({
                url: scope.attr('href'),
                columnClass: 'col-md-6',
                containerFluid : true
            })
        });
    </script>
{% endblock %}
