<div class="card">
    <div class="card-header">
        <h2>Listado de participantes</h2>
    </div>
    <div class="card-body">
        {{sg_datatables_render_html(datatable)}}
        {{sg_datatables_render_js(datatable)}}
    </div>
</div>
<script>
     $('#sg-datatables-{{ datatable.uniqueName }}').off('click').on('click', '.action-export', function (event) {

            event.preventDefault();

            const scope = $(this);


            app.dialogs.create({
                url: scope.attr('href'),
                columnClass: 'col-md-6',
                containerFluid : true
            })
    });
</script>   