{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Edit Provincia{% endblock %}

{% block body %}
    <h1>Edit Provincia</h1>

    {{ include('provincia/_form.html.twig', {'button_label': 'Editar'}) }}

    <a href="{{ path('provincia_index') }}" class="btn" style="background-color: {{ colors()['secondary'] }}; color:white;"><i class="fa fa-arrow-left"></i> Regresar</a>
    <br>
    {{ include('provincia/_delete_form.html.twig') }}
{% endblock %}
