{% extends 'layout.html.twig' %}

{% block main %}
    <main class="content">
        <div class="container-fluid p-0">
            <a href="{{ path('app_login') }}">Entrar</a>
        </div>
    </main>
{% endblock %}