{% extends 'base.html.twig' %}
{% block main %}
	<body>
		<div class="wrapper">
			{{ include('partials/left-menu.html.twig') }}
			<main class="content">
				<div class="row">{% block body %}{% endblock %}</div>
			</main>
			{{ include('partials/footer.html.twig') }}
		</div>
	</body>
{% endblock %}
