{% extends 'base.html.twig' %}
{% block main %}
    <body>
    <div class="wrapper">
        {{ include('partials/left-menu.html.twig') }}
        <main class="content">
            <div class="container-fluid p-0">
                {% block body %}
                {% endblock %}
            </div>
        </main>
    </div>
    </body>
{% endblock %}