{% extends 'layout.html.twig' %}

{% block title %}Mail index{% endblock %}

{% block body %}
   <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        {{ sg_datatables_render_html(datatable) }}
    </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{sg_datatables_render_js(datatable)}}
{% endblock %}