   <div class="card">
    <div class="card-header">
        <h2>Registro de comunicaciones y calificaciones</h2>
    </div>
    <div class="card-body">
        {{ sg_datatables_render_html(datatable) }}
        {{sg_datatables_render_js(datatable)}}
    </div>
   </div>
   <script>
       $(document).ready(function(){
        $('#sg-datatables-{{ datatable.uniqueName }}').on('click','.action-show', function (event) {
			event.preventDefault();
			const scope = $(this)
            let url =  scope.attr('href')
			app.dialogs.create({
				url : url,
				containerFluid:true,
          		columnClass:'col-md-8 col-md-offset-2'
			})
		})
       });
   </script>