{% extends 'layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Listado de usuarios</h1>

    <div class="card">
        <div class="card-body">
        {{ sg_datatables_render_html(usersDatatable) }}
        </div>
    </div>
    {# <a href="{{ path('user_new') }}" class="btn btn-primary"> <i class="fa fa-plus"></i> Adicionar</a> #}
{% endblock %}

{% block javascripts %}
    {{ sg_datatables_render_js(usersDatatable) }}
    <script type="text/javascript">
        $(document).on('click', '.show-details', function (event) {

            event.preventDefault();

            const scope = $(this);

            app.datatable.handleDetails(scope, {
                path: scope.attr('data-path')
            });
        });

        $(document).on('click', '.action-export', function (event) {

            event.preventDefault();

            const scope = $(this);

            app.dialogs.create({
                url: scope.attr('href'),
                'containerFluid': true,
                'columnClass' : 'col-md-12'
            })
        });
    </script>
{% endblock %}
