{% extends 'layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Listado de usuarios</h1>

    <div class="card">
        <div class="card-body">
        {{ sg_datatables_render_html(datatable) }}
        </div>
    </div>
    {# <a href="{{ path('user_new') }}" class="btn btn-primary"> <i class="fa fa-plus"></i> Adicionar</a> #}
{% endblock %}

{% block javascripts %}
    {{ sg_datatables_render_js(datatable) }}
{% endblock %}
