{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' 'jquery.collection.html.twig' 'theme_templates/theme.unit.html.twig' %}

{% block title %}Edit Unit{% endblock %}

{% block body %}
    <h1>Editar unidad</h1>

    {{ include('unit/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('unit_index') }}" class="btn btn-secondary"> <i class="fa fa-arrow-left"></i> Regresar</a>
        <br>
    {{ include('unit/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('unit.form') }}
{% endblock %}

