{% extends 'layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}Unit index{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			Listado de unidades
			<a href="{{path('unit_new')}}" class="btn btn-primary pull-right">
				<i class="fa fa-plus"></i>
				Adicionar</a>
		</div>
		<div class="card-body">
			{{sg_datatables_render_html(datatable)}}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{sg_datatables_render_js(datatable)}}
{% endblock %}