{% extends 'layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}Unit index{% endblock %}

{% block body %}
    {% set path = path('unit_new') %}

    {{ card_macro.card_default('Listado de unidades <a href="'~path~'" class="btn btn-primary pull-right">
				<i class="fa fa-plus"></i>
				Adicionar</a>',sg_datatables_render_html(datatable),'') }}
{% endblock %}

{% block javascripts %}
	{{sg_datatables_render_js(datatable)}}
{% endblock %}
