{% extends 'layout.html.twig' %}
{% block stylesheets %}
	<style>
		.card-body iframe{
			width: 100%;
			min-height: 600px;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="card-body">
				{{iframe|raw}}
			</div>
		</div>
	</div>
{% endblock %}